@font-face {
	font-family: "BYekan";
	src: url("./fonts/BYekan.ttf") format("truetype"), url("./fonts/BYekanBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap; /* برای بهبود عملکرد */
}

body {
	font-family: "BYekan", sans-serif;
}
/* menu */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	transition: all 0.3sease;
	background: white;
	height: 60px;
	border-top: 5px solid #1f3a5c;
}

.p-0 {
	padding: 0 !important;
}

.first-section-menu {
	gap: 0;
}
.logo-sec {
	background-color: #1f3a5c;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	/* box-sizing: border-box; */
	/* width: 20%; */
}
@media (min-width: 992px) {
	.logo-sec {
		width: 30%;
	}
	.header-logo-container {
		padding: 1.5rem;
	}

	.px-lg-5 {
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	}
}
.logo-sec .header-logo {
	height: 45px;
	/* margin: 0.5rem; */
}

.navItemActive {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.language-selector {
	position: relative;
	display: inline-block;
	margin-left: 3rem;
}
.language-dropdown {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 100px;
	box-shadow: 0 8px 16px #0003;
	z-index: 1;
	list-style-type: none;
	padding: 1rem;
	margin: 0;
}
.language-button {
	border: 1px solid #1f3a5c;
	background-color: transparent;
	border-radius: 60px;
	color: black;
	padding: 0.5rem 0.7rem;
}
.language-button span {
	font-size: 1.2rem;
}
.lng-icon {
	width: 15px;
	font-size: 0.8rem;
	height: 15px;
}
.top-menu {
	gap: 2.5rem;
	position: relative;
	padding: 1.4rem 4rem 1.4rem 1.4rem;
	/* margin-left: auto; */
	text-decoration: none;
	/* text-align: right; */
}

.top-menu li {
	list-style: none;
}

.cta {
	padding: 1rem 1.2rem;
	border-radius: 0.5rem;
	height: 45px;
	background-color: #1f3a5c;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 1.2rem;
	margin: 0.5rem;
	font-weight: bold;
}
/* li {
	list-style: none;
} */
.main-item {
	font-size: 1.3rem;
	color: black;
	text-decoration: none;
	cursor: pointer;
	list-style: none;
	font-weight: 500;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
	clear: both;
	font-weight: 400;
	color: #545455;
	text-align: inherit;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.mobile-menu {
	direction: rtl;
	overflow-y: scroll;
	border-radius: 0.5rem;
	z-index: 1001;
	position: fixed;
	display: none;
	width: 280px;
	height: 100vh;
	padding: 64px 45px 20px;
	text-align: center;
	background-color: #fffc;
	top: 0;
	right: 0;
	/* transform: translate(100%); */
	transition: all 0.5sease-in-out;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.mobile-menu .modal-logo {
	max-width: 18rem;
}

.mobile-menu ul li {
	list-style: none;
}
.mobile-menu ul li a {
	text-decoration: none;
	color: black;
}
.mobile-menu .email-info {
	margin-bottom: 22px;
}
.mobile-menu a {
	list-style: none;
}
.mobile-menu a span {
	text-decoration: none;
	color: black;
}
.mobile-menu .social-icon-mobile {
	width: 32px;
	height: 32px;
}

/*  */

.swiper-slide img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.slider-img {
	width: 100%;
}
.slider-style {
	position: relative;
}
.slider-content {
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);
	color: white;
	text-align: right;
	padding: 20px;
	border-radius: 10px;
}

.slider-content h5 {
	color: #8daed3;
}

.slider-content h1 {
	font-size: 2rem;
	font-weight: bold;
}
.slider-content p {
	font-size: 1rem;
	text-align: right;
}
.slider-content button {
	margin: 0.5rem;
	background-color: #1f3a5c;
	color: white;
	font-weight: bold;
}
#button-2 {
	background-color: #ffcc00;
	color: white;
}

.aboutus {
	direction: rtl;
	margin-top: 4rem;
}

.aboutus img {
	width: 100%;
	height: 20rem;
}

.aboutus h6 {
	color: #1f3a5c;
	font-size: 1.4rem;
}
.aboutus h2 {
	font-size: 2rem;
	margin-bottom: 2rem;
	font-weight: bold;
}
.aboutus span {
	color: #1f3a5c;
}

.aboutus p {
	margin-bottom: 2rem;
}
.aboutus button {
	text-align: center;
	background-color: #1f3a5c;
	color: white;
}
.services {
	/* align-items: center; */
}
.services h1 {
	text-align: center;
	font-weight: bold;
}
.services a {
	color: white;
	background-color: #1f3a5c;
	font-size: 1rem;
	padding-right: 0.5rem;
}

.services a img {
	color: white;
	text-align: right;
}

.services .services-card {
	width: 25rem;
	position: relative;
	height: 32rem;
	margin-top: 1rem;
	box-shadow: 0 0 45px #00000012;
}

.services-card::after {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 4rem;
	height: 4rem;
	opacity: 0;
	border-top: 5px solid #1f3a5c;
	border-left: 5px solid #1f3a5c;
	transition: opacity 1s ease-in-out;
}

.services-card::before {
	position: absolute;
	display: block;
	content: "";
	bottom: 0;
	right: 0;
	width: 4rem;
	height: 4rem;
	opacity: 0;
	border-right: 5px solid #1f3a5c;
	border-bottom: 5px solid #1f3a5c;
	transition: opacity 2s ease-in-out;
}

.services-card:hover::after {
	opacity: 1;
}
.services-card:hover::before {
	opacity: 1;
}

.consult-part-span {
	color: #1f3a5c;
}

.consult {
	background-color: #ffcc00;
	/* padding: 5rem; */
}

.consult form input {
	border: none;
	border-bottom: 1px solid black;
	box-shadow: none;
}

.phone .imgcontainer {
	background-color: #1f3a5c;
	padding: 1rem;
	width: 2rem;
	height: 2rem;
	color: white;
}
.phone .imgcontainer .img {
	width: 100%;
}
.phone h6 {
	font-weight: bold;
	color: #1f3a5c;
}
.phone a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.essay {
	width: 100%;
	height: 30rem;
	border: none;
	position: relative;
	border: 0px solid #1f3a5c;
}

.essay:hover {
	border: 3px solid #1f3a5c;
	transform: scale(0.9);
	transition: all 0.3s ease-in-out;
	box-sizing: border-box;
}

.calender {
	display: flex;
	margin-right: 1rem;
}

.essay-btn {
	display: flex;
}
.essay-btn img {
	width: 1rem;
	font-size: 2rem;
	color: #1f3a5c;
}
.essay-btn span {
	text-align: right;
}
.calender small img {
	width: 16px;
	height: 16px;
	object-fit: cover;
}

/* footer */
.footercustom {
	width: 100%;
}
.footercustom a {
	/* width: 3rem; */
	position: relative;
	overflow: hidden;
}

.footercustom a:hover {
	position: absolute;
	/* width: 4rem; */
	letter-spacing: 2px;
	transition: all 0.3s linear;
}
